* {
    font-family: 'Open Sans', sans-serif;
}


/* header styles */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* nav styles */
.navbar{
    margin: 0rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    display: flex;
    align-items: center;
}
.title-text{
    color: #0B0223;
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
.nav-items {
    display: flex;
}
.nav-text{
    font-size: 1.12rem;
    margin-left: 1.5rem;
    color: #3C354F;
}
.youtube-logo{
    color: red;
}

/* banner part */

.banner{
    display: grid;
    margin-right: 10rem;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    margin-top: 1rem;
}

.banner-text{
    color: #534C64;
    font-size: 1.25rem;
    background-image: url('../images/Group\ 14.png');
    background-size: 100%;
    padding-left: 10rem;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;

    
}
.play-like-the{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0px;
}

.goat{
    font-size: 5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -10px;
    margin-bottom: 10px;
}


.btn-blue{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 1rem;
}
.btn-pink{
    border-radius: 48px;
    background: #ff42a5;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 1.25rem;
    color: white;
}

.banner-img{
    width: 100%;
}



 @media screen and (max-width:576px) {

    .navbar{
        flex-direction: column;
        margin: 1rem;
        
    }
    .nav-items {
        flex-direction: column;
    }

    .banner{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem;  
    }
    .banner-text{
        padding-left: 20%;
        text-align: left;


    }
    
}