* {
    font-family: 'Open Sans', sans-serif;
}


/* header styles */
header{
    background: #FFF;

}
.nav-container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* nav styles */
.navbar{
    padding: 0rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-title{
    display: flex;
    align-items: center;
}
.title-text{
    color: #0B0223;
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
.nav-items {
    display: flex;
}
.nav-text{
    font-size: 1.12rem;
    margin-left: 1.5rem;
    color: #3C354F;
}
.youtube-logo{
    color: red;
}

/* banner part */

.banner{
    display: grid;
    margin-right: 10rem;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    margin-top: 1rem;
}

.banner-text{
    color: #534C64;
    font-size: 1.25rem;
    background-image: url('../images/Group\ 14.png');
    background-size: 100%;
    padding-left: 10rem;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;

    
}
.play-like-the{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0px;
}

.goat{
    font-size: 5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -10px;
    margin-bottom: 10px;
}


.btn-blue{
    border-radius: 48px;
    background: #4EC5F7;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 1rem;
}
.btn-pink{
    border-radius: 48px;
    background: #ff42a5;
    padding: 1rem 2rem;
    border: 0px;
    font-size: 1.25rem;
    color: white;
}

.banner-img{
    width: 100%;
}


/* --main part-- */

main{
    margin-top: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* videos part-- */
.funny-games{
    margin-bottom: 10rem;
}
.vdo-title{
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}
.funny{
    background: linear-gradient(#F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.videos{
    display: flex;
    gap: 10px;
}

.video-box>img {
    width: 100%
}

.video-c{
    border: 5px solid white;
}

.video-c:hover{
    border: 5px solid #F948B2;
    border-radius: 1rem;
    filter: brightness(30%);
}
/* kkk */
.image-container {
    position: relative;
}
.image-container .after {
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
/* play instantly */
.play-instantly{
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play-instant-text{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.no-margin{
    
    margin: 0px;
}


.vdo-p{
    text-align: end;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image-55 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image-66 {
    position: absolute;
    top: 50%;
    right: 75%;
  }
  .hide{
    display: none;
  }


   .nine{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-template-rows: auto;
   }


  .common-nine{
    display: flex;
    align-items: center;
    margin-right:0rem;
    padding-right: 0rem;
    border: 5px solid white;

  }

  .common-nine:hover {
    border: 5px solid #F948B2;
    color:  #F948B2;
    border-radius: 50px;
  }

  .center   {
    display: flex;
    justify-content: center;
  }
  .white{
    color: #FFF;
  }

  footer{
    margin-top: 10rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
    text-align: center;
    background: #0B0223;
  }

  .footer-p{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content:center;
    color: #FFF                                                                                                                       ;
  }

  .gap  {
    margin: 20px;
  }


 @media screen and (max-width:576px) {

    .navbar{
        flex-direction: column;
        padding: 0;
        margin: 1rem;
        
    }
    .nav-items {
        flex-direction: column;
    }

    .banner{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem;  
    }
    .banner-text{
        padding-left: 20%;
        text-align: left;
    }
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .videos{
        flex-direction: column;
        justify-content: space-around;
        
    }
    .play-instantly{
        flex-direction: column;
    }
    .parent .image-55{
        width: 50%;
    }
    .parent .image-66{
        width: 25%;
    }

    .nine{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-template-rows: auto;
       }

       .footer-p{
        flex-direction: column;
       }
    
}